$information-phone: "screen and (max-width: 600px) and (orientation:portrait)";
// $information-pad: "screen and (min-width: 600px) and (max-width: 1279px)";
// $information-pad-portrait: "screen and (min-width: 600px) and (max-width: 1279px) and (orientation:portrait)";
$information-desktop: "screen and (min-width: 600px) ";

$information-pad-landscape: "screen and (min-width: 600px) and (orientation:landscape)";

// $color-fond-titre:#EEEEEE;

// $color-titre : #757575;
// $color-panel: #E3F2FD
