@import "../../../assets/scss/scss-variable.scss";

.position-table,
.position-img {
    margin: auto;
    padding-top: 30px;
    width: 100%;
}

.mat-table {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
