<!-- Conservation header, intégration de <app-product> -->

<div id="zone-utility">
  <!-- HEADER ----------------------------------------->
  <div class="header-stepper-container">
    <div id="header">
      <app-header [msgHeaderZone]="msgHeaderZone" class="main-zone"></app-header>
    </div>

    <!-- STEPPER -------------------------------------->
    <!-- SCAN REFERENCE INPUT -->
    <div class="stepper-zone">
      <mat-vertical-stepper [linear]="isLinear" #stepper (selectionChange)="onChange($event)">
        <mat-step [stepControl]="refFormGroup" label="Scannez une référence">
          <form [formGroup]="refFormGroup">
            <ng-template matStepLabel>Saisissez une référence</ng-template>
            <div class="flexInput">
              <mat-form-field>
                <input matInput id="input0" autocomplete="off" formControlName="reference" placeholder="EAN13" required>
              </mat-form-field>
              <div>
                <button mat-mini-fab color="primary" (click)="onCheckRef()" matStepperNext
                  aria-label="Example icon button with a heart icon">
                  <mat-icon>done</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </mat-step>

        <!-- SCAN ZONE INPUT -->
        <mat-step [stepControl]="zoneFormGroup" label="Scannez une zone">
          <form [formGroup]="zoneFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <div class="flexInput">
              <mat-form-field>
                <input matInput id="input1" autocomplete="off" formControlName="zone" placeholder="Zonage" required>
              </mat-form-field>
              <div>
                <button mat-mini-fab color="primary" (click)="resetStepper(0)" matStepperNext
                  aria-label="icon button with a symbol enter icon">
                  <mat-icon>done</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>

  <!-- PRODUCT ----------------------------------------->
  <div id="product">
    <mat-card>
      <app-product [isDisplayProduct]="isDisplayProduct"></app-product>
    </mat-card>
  </div>
</div>